/**
 *
 * Property GoogleMap Category Display Styles
 *
 */

.CG-GOOGLEMAP-CATEGORY-BOX-SHORTCODE {
	// border: 1rem dotted hotpink;
	
	.category-bar {
		// border: 1rem solid red;
		padding: 1rem;
		background-color: #DF5400;
		display: flex;
		justify-content: center;

		.category-form {

			border: 1px solid white;
			padding: 1rem !important;

			select {
				border: 1rem dotted red;
				background: transparent;
				border: none;
				color: white;

				option {
				}
			}

		}

		.left-category-form {
			margin-right: 1rem;
		}

		.right-category-form {

		}		
	}


}